@import '../../styles/common';

.bold {
  font-family: $Stolzl700;
  white-space: break-spaces;
  width: 100%;
}

.swiper {
  width: calc(100vw - 24px);
}

.wrapper {
  width: calc(100vw - 24px);
  height: calc(100vw - 24px);
  border: solid 1px $common-black;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-family: $Stolzl;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 11;
}

.price {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-family: $Stolzl;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
}

.buttons {
  width: 100%;
}