@import '../../styles/common';

.button {
  background-color: $common-black;
  border-radius: 4px;
  padding: 2px 0;
  cursor: pointer;
  width: 100%;
  display: block;
  transition: all ease-in 0.1s;

  font-family: $Stolzl;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $common-white !important;

  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;

  &:active {
    background-color: $primary-blue;
    &:disabled {
    background-color: #ccc;
    }
  }

  &:disabled {
    background-color: #ccc;
  }
}
