@import '../../styles/common';

.quill {
  min-height: 100px;
  margin-bottom: 40px;
  width: 100%;
  max-width: calc(100vw - 24px);
}

.description {
  width: 100%;
  display: block;
  max-width: calc(100vw - 24px);
}

.title {
  font-size: 20px;
  outline: none;
  text-align: center;
}

.weight {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 11;
  max-width: 100px;
  display: block;
}

.price {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  text-align: right;
  max-width: 100px;
  display: block;
}

.error {
  color: rgb(255, 0, 0);
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.preview {
  width: 80px;
  height: 80px;
  position: relative;

  &>img {
    object-fit: contain;
    width: 100%;
  }

  &>.cross {
    position: absolute;
    right: 20px;
    top: 10px;
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
      &::before, &::after {
        background-color: $primary-blue;
      }
    }
    

    &::before, &::after {
      content: '';
      width: 16px;
      height: 1px;
      background-color: $common-black;
      position: absolute;
      transition: all 0.3s ease-in;

    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.add {
  border: 1px dashed #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .plus {
    transform: translateX(-16px);
    
    &::before, &::after {
      content: '';
      width: 32px;
      height: 2px;
      background-color: #ccc;
      position: absolute;
      transition: all 0.3s ease-in;
    }
    &::before {
      
    }
    &::after {
      transform: rotate(90deg);
    }
  }

}