@import '../../styles/common';

.quill {
  min-height: 100px;
  margin-bottom: 40px;
  width: 100%;
}

.description {
  width: 100%;
  max-width: calc(100vw - 24px);
  display: block;
}

.title {
  font-size: 20px;
  outline: none;
  text-align: center;
}

.weight {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 11;
  max-width: 100px;
  display: block;
}

.price {
  background-color: $common-black;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 12px;
  letter-spacing: 0.14em;
  color: $common-white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  text-align: right;
  max-width: 100px;
  display: block;
}

.error {
  color: rgb(255, 0, 0);
}