@import './fonts.scss';

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
	min-height: 100vh;

	&>div {
		min-height: inherit;
	}
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$Stolzl: 'Stolzl normal';
$Stolzl700: 'Stolzl bold';
$Stolzl300: 'Stolzl light';

$primary-blue: #263CFF;
$common-white: #fff;
$common-black: #000;

.main {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.display-none {
	display: none;
}

.w-44 {
  max-width: calc(100vw - 44px);
}