@import './fonts.scss';

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
	min-height: 100vh;

	&>div {
		min-height: inherit;
	}
}

$Stolzl: 'Stolzl normal';
$Stolzl700: 'Stolzl bold';
$Stolzl300: 'Stolzl light';

$primary-blue: #263CFF;
$common-white: #fff;
$common-black: #000;
