@font-face {
  font-family: 'Stolzl normal';
  src: url(../../public/fonts/Stolzl/stolzl_regular.otf) format('opentype');
}
@font-face {
  font-family: 'Stolzl bold';
  src: url(../../public/fonts/Stolzl/stolzl_bold.otf) format('opentype');
}
@font-face {
  font-family: 'Stolzl light';
  src: url(../../public/fonts/Stolzl/stolzl_light.otf) format('opentype');
}
