@import '../../styles/common';

.wrapper {
  font-family: $Stolzl300;
  font-size: 1rem;
  line-height: 20px;
  text-wrap: wrap;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  &>:last-child {
    margin: 20px 0;
  }

  h4 {
    font-family: $Stolzl700;
    letter-spacing: 0.54em;
  }
}

.sides {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 34px;
  margin-bottom: 18px;
  align-items: start;

  &>p {
    width: 50%;
  }
  & p:nth-child(1) {
    text-align: left;
  }
  & p:nth-child(2) {
    text-align: right;
  }
}

.regular {
  font-family: $Stolzl;
  margin: 24px 0;
  
}

.lightning {
  font-family: 'Dited';
  margin: 10px 0;
}

.wrapper {
  height: 23px;
}