@font-face {
  font-family: 'Stolzl';
  font-weight: normal;
  src: local('Stolzl'), url(./fonts/Stolzl/stolzl_regular.otf) format('otf');
}
@font-face {
  font-family: 'Stolzl';
  font-weight: bold;
  src: local('Stolzl'), url(./fonts/Stolzl/stolzl_bold.otf) format('otf');
}

* {
	margin: 0;
	padding: 0;
}
